:root {
--secondary-font-family: 'Raleway', sans-serif;
--primary-color: #4d5ae5;
--accent-color: #404bbf;
--secondary-color-theme-dark: #2e2f42;
--secondary-color-theme-light: #f4f4fd;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

/* COMPONENTS */
.modal-open-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: var(--primary-color);
}

.modal-open-btn:hover,
.modal-open-btn:focus {
    background-color: var(--accent-color);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color)
}

.logo-theme-dark{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color-theme-dark);
}

.logo-theme-light{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color-theme-light);
}

.main-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-color-theme-dark);
}

.suptitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;    
    letter-spacing: 0.02em;
    color: var(--secondary-color-theme-dark);
}

.section-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-description-theme-light {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color-theme-light);
}
/* /COMPONENTS */
/* HEADER */
.menu-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color-theme-dark);
}

.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);
}

.contact{
    font-style: normal;
}

.contact-list-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-list-link:hover,
.contact-list-link:focus {
    color: var(--accent-color);
}
/* /HEADER */
/* HERO */
.hero {
    background-color: var(--secondary-color-theme-dark);
}
/* /HERO */
/* SERVICES */
/* /SERVICES */
/* TEAM */
.team {
    background-color: var(--secondary-color-theme-light);
}

.team-list-item{
    background-color: #fff;
}
/* /TEAM */
/* FOOTER */
.footer {
    background-color: var(--secondary-color-theme-dark);
}
/* /FOOTER */

/* PORTFOLIO */
/* HEADER */
/* /HEADER */
/* FILTERS */
.btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-color);
    background-color: var(--secondary-color-theme-light);
}

.btn:hover,
.btn:focus{
    color: #fff;
    background-color: var(--accent-color);
}
/* /FILTERS */
/* FOOTER */
/* /FOOTER */
/* /PORTFOLIO */
