:root {
    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #2e2f42;
    --primary-text-color-theme-light: #fff;
    --secondary-text-color-theme-dark: #434445;
    --secondary-text-color-theme-light: #f4f4fd;
    --accent-color: #404bbf;
    --btn-text-color-them-dark: #fff;
    --btn-text-color-them-light: #4d5ae5;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

body{
    font-family: var(--main-font-family);
}

.modal-open-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
}

.modal-open-btn:hover,
.modal-open-btn:focus {
    background-color: var(--accent-color);
}

.btn-theme-dark{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--btn-text-color-them-dark);
    background-color: var(--accent-color);
}

.btn-theme-light{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--btn-text-color-them-light);
    background-color: var(--secondary-text-color-theme-light);
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;    
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color-theme-dark);
}

.suptitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    color: var(--primary-text-color-theme-dark)
}

.section-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-dark);
}

.section-description-light{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
}

/* HEADER */
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
     color: var(--primary-text-color-theme-dark)
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-dark);
}
/* /HEADER */